@font-face {
  font-family: firstStep;
  src: url('./fonts/CircularStd-Book.otf');
}

.emoji-grid {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 27%);
  justify-content: center;
  margin-bottom: 10%;
  padding: 1%;
  grid-gap: 3%;
}

.emoji-grid div {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}


input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#navbar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 5% 0;
}

.icon-img {
  width: 65%;
  display: block;
  margin: 0 auto;
}

#navbar div {
  color: gray;
  padding: 0 10%;
}

body {
  font-family: firstStep;
}

.form-header {
  font-size:2em;
  text-align: center;
  letter-spacing: 1;
}


.form-container img {
  width: 50%;
  margin: 0 auto;
  width: 80%;
  display: block;
  margin-bottom: 5%;
  filter: invert(100%);
}

.form-container {
  width: 90%;
  margin: 0 auto;
}

.form-container p {
  text-align: center;
  color: #fff;
}

.form-container p a {
  text-decoration: none;
  color: lightblue;
}

.auth-page {
  background-image: url('http://getwallpapers.com/wallpaper/full/8/a/1/506862.jpg');
  background-size: cover;
  background-position: '50% 50%';
}

.new-entry-page {
  background-image: url('https://cdn.wallpapersafari.com/41/62/IRTwXE.jpg');
  background-size: cover;
  background-position: '50% 50%';
}

.form__input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 4% 10%;
  width: 100%;
  margin-bottom: 3.5%;
  font-size: 1.13em;
}

.form__input--transparent {
  background-color: rgba(0,0,0,0);
  text-align:center;
  outline-color: blue;
  color: #fff;
}

.form__input--transparent::placeholder {
  color: #efefef;
}


.form-links {
  margin-top: 10%;
}

.btn {
  padding: 4% 10%;
  background-color: '#ccc';
  color: #000;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: 400;
  font-size: 1.3em;
}

.btn--main {
  border-color: #fb4f41;
  color: #fff;
  background-color: #fb4f41;
}

.btn--secondary {
  background-color: #4267B2;
  color: #fff;
  border-color: #4267B2;
}

.btn--third {
  background-color: #8E8E9F;
}

.btn--block {
  width: 100%;
  display: block;
}


.activity-btns a {
  display: block;
  margin-bottom: 5%;
  padding: 6% 12%;
  text-decoration: none;
  text-align: center;
}

.new-entry {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 3.5%;
  padding: 2% 2%;
  font-family: sans-serif;
  font-size: 1.3em;
}
